.sidebarFriend{
    margin: 16px;
    display: flex;
    align-items: center;

}

.sidebarFriendImg{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    /* box-shadow: 3px 3px  2px rgb(180, 177, 177); */

}